:root {
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.menu-link.current {
  color: var(--accent-color);
}
. .menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
